.uploadPictureContainer {
  position: relative;
}
.publishContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: auto;
  height: 100%;
  justify-content: center;
  gap: 30px;
}

.publishForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

.publishFieldContainer[type="text"],
[type="number"],
[type="submit"],
[type="price"] {
  position: relative;
  width: 400px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.publishFieldContainer input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-left: 60px;
}
.publishFieldContainer label {
  border: none;
  width: 100%;
  margin-right: 60px;
}
.publishFieldContainer h5 {
  text-align: left;
  margin: 0;
}
.uploadPictureContainer label:before {
  content: "+";
  font-weight: bold;
  margin-right: 8px;
}
.uploadPictureContainer input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type="submit"] {
  width: 100%;
  max-width: 200px;
  margin: auto;
}
.uploadPictureContainer label {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
