header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 1200px;
  align-items: center;
  margin-bottom: 10px;
}
.headerLogo img {
  height: 38px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
form {
  display: flex;
  align-items: center;
}

.search-label {
  width: 700px;
  position: relative;
  /* padding: 0 150px 0 0; */
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  width: 530px;
  height: 38px;
  background-color: #efefef;
  border-color: transparent;
  border-radius: 5px;
  padding-left: 20px;
  color: gray;
}

button {
  border-radius: 5px;
  height: 28px;
  width: 130px;
  border-style: solid;
  border-width: 1px;
  border-color: #39b1ba;
  margin-left: 10px;
  color: #39b1ba;
}

.sellButton {
  background-color: #39b1ba;
  margin-right: 40px;
  color: white;
  width: 160px;
}
