header {
  display: flex;
  justify-content: space-between; /* aligns items to the left and right edges of the header */
  height: 80px;
  align-items: center;
}
.headerLogo img {
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
form {
  display: flex;
  align-items: center;
}

.search-label {
  position: relative;
  padding: 0 20px 0 0; /* add right padding to separate the input and buttons */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-input {
  width: 630px;
  height: 35px;
  background-color: #efefef;
  border-color: transparent;
  border-radius: 5px;
  padding-left: 40px;
  color: gray;
}

button {
  border-radius: 5px;
  height: 28px;
  width: 130px;
  border-style: solid;
  border-width: 1px;
  border-color: #39b1ba;
  margin-left: 10px; /* add margin to separate buttons */
  color: #39b1ba;
}

.connectButton {
  margin-left: 0; /* remove left margin from connect button */
}

.sellButton {
  background-color: #39b1ba;
  margin-right: 40px; /* add right margin to separate from right edge of header */
  color: white;
  width: 160px;
}
